.nupuke {background-color: lightgreen
}

.nupuke { color: grey
}

.nupuke:hover {height:100px
}

p {color:blue
}

p:hover {font-size: 24px;

}

.pilt {height: 400px; width: 600px;
}

.pilt{float: right;
}

.pilt:active { cursor : grabbing; 
}