.nupuke {background-color: lightgreen
}

.nupuke { color: grey
}

.nupuke:hover {height:100px
}

p {color:blue
}

p:hover {font-size: 24px;

}

.pilt {height: 400px; width: 600px;
}

.pilt{float: right;
}

.pilt:active { cursor : grabbing; 
}

.hele-leht {
    background-color: azure;
    height: 100%;
    min-height: 100vh
}

.tume-leht {
    background-color: black;
    height: 100%;
    min-height: 100vh;
    color:aliceblue;
}
