.Nupuke {background-color: green
}
.Nupuke {text-emphasis-color: light rgb(176, 173, 173)

}
.Nupuke:hover {height:100px

}
.Nupuke:active {cursor:grab

}

.Oluline jutt {text-emphasis-color: blue;
}

.Oluline:hover {font-size: 24px;

}
.pilt {height: 100px; width: 200px;
}

.pilt {align-self: right;

}
