.pilt {
  height: 100px;
  width: 200px;
}

.pilt:hover {
  opacity: 0.7;
}

.nupp {
  border: 2px dotted red;
}

.nupp:hover {

  font-weight: bold;
}

.kuldne {
  color: goldenrod
}

.aktiivne-url {
  font-size: 20px;
}

.hele-leht {
  background-color: azure;
  height: 100%;
  min-height: 100vh;

}
.tume-leht {
  background-color: black;
  color: white;
  height: 100%;
  min-height: 100vh;
  /*view height - ekraani korgus
  minimaalne selle css klassi korgus on ekraani korgus view heightides ehk vaate protsentides
  50 vh - 50% ekraani korgusest*/
}
.varviline-leht {
  background-color: gold;
  height: 100%;
  min-height: 100vh;
}

.aktiivne {
  background-color: rgb(213, 236, 213);
  border: 1px solid green;
}

.mitteaktiivne {
  background-color: rgb(245, 232, 232);
  border: 1px solid red;
}